VIP manholes-2/test
VIP manholes-2/train
VIP manholes-2/valid
VIP manholes-2/README.dataset.txt
VIP manholes-2/README.roboflow.txt
Street obstacles
archive-3
data
output_v10_video.mp4
output_video.mp4
output_video2.mp4
output_video3.mp4
Tourists Love THIS London Weather? Grey & Rainy Central London Walk - 4K HDR 60FPS.mp4
output_image_with_bounding_box.jpg
VIP manholes-2 2.zip
VIP manholes-2 3.zip
yolov8n.pt
Dataset.zip
Street obstacles/README.roboflow.txt
Street obstacles/README.dataset.txt
manholes